[Unit]
Description=SysArmor Agent
[Service]
Type=simple
ExecStart=/opt/sysarmor/agent/bin/sysarmor-agent run --config /etc/sysarmor/agent/agent.yaml
WorkingDirectory=/opt/sysarmor/agent
RuntimeDirectory=sysarmor/agent
RuntimeDirectoryMode=0750
Restart=always
RestartSec=5s
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
