SYSARMOR_POSTGRES_DRIVER=postgres
SYSARMOR_POSTGRES_DSN=postgres://sysarmor:sysarmor@postgres:5432/sysarmor?sslmode=disable
SYSARMOR_OPENSEARCH_URL=http://opensearch:9200
SYSARMOR_ARTIFACT_PUBLIC_KEY=/etc/sysarmor/pki/artifact-public.pem
SYSARMOR_AGENT_CA_CERT=/etc/sysarmor/pki/ca.pem
SYSARMOR_AGENT_CA_KEY=/etc/sysarmor/pki/ca-key.pem
SYSARMOR_AUTH_MODE=local
SYSARMOR_JWT_PUBLIC_KEY_FILE=/etc/sysarmor/pki/manager-jwt-public.pem
SYSARMOR_JWT_ISSUER=sysarmor-identity
SYSARMOR_JWT_AUDIENCE=sysarmor-manager
