AUTH_SECRET_FILE=/run/secrets/auth-secret
SYSARMOR_BOOTSTRAP_ADMIN_USERNAME_FILE=/run/secrets/bootstrap-admin-username
SYSARMOR_BOOTSTRAP_ADMIN_PASSWORD_FILE=/run/secrets/bootstrap-admin-password
SYSARMOR_BFF_JWT_PRIVATE_KEY_FILE=/run/secrets/manager-jwt-private.pem
SYSARMOR_MANAGER_JWT_ISSUER=sysarmor-bff
SYSARMOR_MANAGER_JWT_AUDIENCE=sysarmor-manager
MANAGER_API_ORIGIN=http://manager:9443
